<!html>
<head>
    <style type="text/css">
        body{
            background: none repeat scroll 0 0 #FFFFFF;
            color: #222222;
            cursor: default;
            font-family: Verdana, "Lucida Grande", Lucida, sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }
    </style>
</head>
<body>
<div style="height:124px;background:#CC3399;display:block;clear:both">
<img src="/assets/logo.png" style="display:block;float:right;margin:12px"/>
</div>
<div style="display:block;clear:both"><h1>Siden findes ikke!!!</h1>
<p>Hvis du mener at du er n책et til denne side ved et link eller henvisning her p책 hjemmesiden, s책 lad os det gerne vide ved at <a href="mailto:mia@gladfonden.dk">kontakte os</a>.</p>
<p><a href="/">G책 til GladTur forsiden!</a></p>
</div>
</body>
</html>