# Bootstrap
app/bootstrap*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
#web/bundles/*

# Configuration files
#app/config/parameters.ini
#app/config/parameters.yml

#Mac OS X special files
.DS_Store
*/.DS_Store

#PHPStorm directories
.idea
.idea/*
