<!--<div>
    <div id="ios-appstore">
        Download for iOS 6+
        <div id="ios_icons">
            iPhone 3, iPhone 3 GS, iPhone 4, iPhone 4S, iPhone 5
        </div>
        <div id="suffix">
            {{ 'login.iosversion.recommended'|trans({}, 'WebsiteBundle') }}
        </div>
    </div>
    <div id="android-market">
        <img src="http://developer.android.com/images/brand/en_app_rgb_wo_60.png" title="Download for Android&copy; on Google Play&copy; "
    </div>
 </div>//-->