{% block footer %}
<div data-role="tabbar" data-iconpos="top" data-theme="a" class="ui-footer ui-footer-fixed ui-bar-a ui-navbar ui-mini" role="navigation">
                <ul class="ui-grid-b">
                    <li class="ui-block-a">
                        <a href="/test" data-theme="a" data-icon="home" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a" data-corners="false" data-shadow="false" data-iconshadow="true" data-iconsize="18" data-wrapperels="span" data-iconpos="top" data-inline="true"><span class="ui-btn-inner"><span class="ui-btn-text">
                            Forside
                        </span><span class="ui-icon ui-icon-home ui-icon-shadow ui-iconsize-18">&nbsp;</span></span></a>
                    </li>
                    <li class="ui-block-b">
                        <a href="/test#page4" data-theme="a" data-icon="search" class="ui-btn ui-btn-up-a ui-btn-inline ui-btn-icon-top" data-corners="false" data-shadow="false" data-iconshadow="true" data-iconsize="18" data-wrapperels="span" data-iconpos="top" data-inline="true"><span class="ui-btn-inner"><span class="ui-btn-text">
                            Søg
                        </span><span class="ui-icon ui-icon-search ui-icon-shadow ui-iconsize-18">&nbsp;</span></span></a>
                    </li>
                    <li class="ui-block-c">
                        <a href="/test#page3" data-theme="a" data-icon="gear" class="ui-btn ui-btn-up-a ui-btn-inline ui-btn-icon-top ui-btn-active ui-state-persist" data-corners="false" data-shadow="false" data-iconshadow="true" data-iconsize="18" data-wrapperels="span" data-iconpos="top" data-inline="true"><span class="ui-btn-inner"><span class="ui-btn-text">
                            Nær
                        </span><span class="ui-icon ui-icon-gear ui-icon-shadow ui-iconsize-18">&nbsp;</span></span></a>
                    </li>
                </ul>
            </div>
			{% endblock %}