{% extends "GladturTestoneBundle::layout.html.twig" %}
{% block content %}
<div data-theme="a" data-role="header" class="ui-header ui-bar-a" role="banner">
        <a data-role="button" data-direction="reverse" data-rel="back" data-theme="a" href="/test#page3" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a" data-corners="true" data-shadow="true" data-iconshadow="true" data-iconsize="18" data-wrapperels="span"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">
            Tilbage
        </span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow ui-iconsize-18">&nbsp;</span></span></a>
        <h3 class="ui-title" role="heading" aria-level="1">
            Mere om {{ location.readableName }}
        </h3>
    </div>
<div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}