<div id="reportLocationFields">
<form action="{{ path('location_report_save') }}?slug={{ slug }}" method="POST" accept-charset="UTF-8" id="reportLocation">
{{ form_widget(report_form) }}
<input type="submit" value="Send indberetning" class="buttony custom"/>
</form>
</div>