<!html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ asset('bundles/gladturmobile/css/styles.css') }}"/>
    <title>Gladtur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
</head>
<body class="admin-{{ app.request.get('_route') | replace({'_' : '-'}) }}">
<div id="main">
    {{ content | raw }}
</div>
</body>
</html>