/* line 282, properties/*.png */
.properties-sprite, .properties-prop_14, .properties-prop_16, .properties-prop_17, .properties-prop_18, .properties-prop_19, .properties-prop_20, .properties-prop_21, .properties-prop_37, .properties-prop_38, .properties-prop_39, .properties-prop_42, .properties-prop_43, .properties-prop_48, .properties-prop_51, .properties-prop_52, .properties-prop_53, .properties-prop_54, .properties-prop_55, .properties-prop_56, .properties-prop_57, .properties-prop_58, .properties-prop_59, .properties-prop_60, .properties-prop_61, .properties-prop_62, .properties-prop_63, .properties-prop_64, .properties-prop_65, .properties-prop_66, .properties-prop_67, .properties-prop_68 {
  background: url('../images/properties-se6eeb2d6b3.png') no-repeat;
  width: 160px;
  height: 160px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_14 {
  background-position: 0 -3200px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_16 {
  background-position: 0 -3360px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_17 {
  background-position: 0 -2560px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_18 {
  background-position: 0 -2080px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_19 {
  background-position: 0 -4800px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_20 {
  background-position: 0 -2240px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_21 {
  background-position: 0 -3520px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_37 {
  background-position: 0 -1760px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_38 {
  background-position: 0 -160px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_39 {
  background-position: 0 -480px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_42 {
  background-position: 0 -4000px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_43 {
  background-position: 0 -1600px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_48 {
  background-position: 0 -4480px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_51 {
  background-position: 0 0;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_52 {
  background-position: 0 -3840px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_53 {
  background-position: 0 -960px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_54 {
  background-position: 0 -4640px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_55 {
  background-position: 0 -2400px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_56 {
  background-position: 0 -1920px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_57 {
  background-position: 0 -1120px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_58 {
  background-position: 0 -320px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_59 {
  background-position: 0 -1440px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_60 {
  background-position: 0 -640px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_61 {
  background-position: 0 -4320px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_62 {
  background-position: 0 -3040px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_63 {
  background-position: 0 -3680px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_64 {
  background-position: 0 -800px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_65 {
  background-position: 0 -2880px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_66 {
  background-position: 0 -2720px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_67 {
  background-position: 0 -4160px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.properties-prop_68 {
  background-position: 0 -1280px;
}
