{% extends "@Website/WebpageTemplates/skabelon3.html.twig" %}
{% block content_left %}
    <div>
        {% if app.user %}
        <div class="block signed_in">
            <div id="login_as_user">{{ "Hej" |trans() }} {{ app.user.username }}</div>
            <a href="{{ path('fos_user_security_logout') }}" class="edit">Log af</a>
        </div>
        {% endif %}
        <div class="signinform">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock content_left %}
{% block content_right %}
    {% include "@Website/Login/index.html.twig" %}
{% endblock content_right %}