{% extends 'form_div_layout.html.twig' %}
{% block file_widget %}
    {% spaceless %}
        {% if image_url is not null %}
            <div style="float:left">
            <img src="{{ asset(image_url) }}" style="height:80px"/>
             </div>
        {% endif %}
        <div style="float:left">{{ block('form_widget') }}<div class="field-description">{{ 'Choose a file to replace the existing image' | trans }}</div></div>
        <div style="float:none;clear:both"></div>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="errors form field">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
