<form id="profile_select" method="post" action="">
    <img src="/uploads/icons/profiles/{{ selectedprofile_image }}" class="icon active_profile"/>
    {{ form_widget(profile_selector.profile) }}
</form>