{% extends "@Website/layout.html.twig" %}
{% block content_fullwidth %}
<p>&nbsp;</p>
    <h1>Gladtur.dk er under opbygning</h1>
<p>Kom tilbage fra d.25 august. Her på siden kan du nemt finde og dele viden om tilgængelige steder i din by.</p>
{% endblock content_fullwidth %}