{% extends "WebsiteBundle::layout.html.twig" %}
{% block content_left %}
    <div style="padding:50px 0">
    <h1>{{ "Gladtur - Din profil"| trans }}</h1>
        {% include "@Website/flash_message.html.twig" %}
    {% if success == 1 %}
        <h1>Din bruger har nyt kodeord</h1>
        <p>Du kan herefter logge ind på GladTur app'en eller hjemmesiden, med det ny kodeord du angiv da du indstillede det.</p>
        <p>Dette sker normalt, når du har glemt dit kodeord til GladTur app'en eller hjemmesiden, og du vælger at oprette et nyt.</p>
    {% else %}
        <h1>Uups!</h1>
        <p>Du har valgt at oprette et nyt kodeord for din bruger på GladTur. Det er desværre mislykkedes.</p>
        <p>Prøv venligst igen, og hvis det stadigvæk fejler kan du prøve fra en anden computer, en anden iPhone, eller måske igennem en helt anden Internet forbindelse.</p>
    {% endif %}
    </div>
{% endblock %}